{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Update - {{test.title}}
{% endblock title %}

{% block content %}
    <div class="card mt-4">
        <div class="card-header">
            <h3>Update - {{test.title}}</h3>
        </div>
        <div class="card-body">
            <form method="post"> {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock content %}

{% block footer %}
      <footer class="py-5 bg-dark">
        <div class="container">
          <div class="row">
                <div class="col-md-8">
                    <p style="color: aliceblue;"><b>The author of the site Muminjanov.A</b></p>
                    <p style="color: aliceblue;">This site was created in order to insert your Tests. anyone who wants can insert and share their tests.</p>
                </div>
                <div class="col-md-4">
                    <p><a style="text-decoration: none; color: aliceblue;" href="https://instagram.com/priler_04?igshid=NzZlODBkYWE4Ng=="><i class="fa-brands fa-instagram"></i> Instagram</a></p>
                    <p><a style="text-decoration: none; color: aliceblue;" href="https://github.com/akbarmuminjanov"><i class="fa-brands fa-github"></i> Github</a></p>
                </div>
          </div>
        </div>
      </footer>
{% endblock footer %}